/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$alert-name: 'alert';
$alert-x: 394px;
$alert-y: 106px;
$alert-offset-x: -394px;
$alert-offset-y: -106px;
$alert-width: 12px;
$alert-height: 12px;
$alert-total-width: 431px;
$alert-total-height: 213px;
$alert-image: 'sprite.png';
$alert: (394px, 106px, -394px, -106px, 12px, 12px, 431px, 213px, 'sprite.png', 'alert', );
$back-name: 'back';
$back-x: 293px;
$back-y: 70px;
$back-offset-x: -293px;
$back-offset-y: -70px;
$back-width: 38px;
$back-height: 26px;
$back-total-width: 431px;
$back-total-height: 213px;
$back-image: 'sprite.png';
$back: (293px, 70px, -293px, -70px, 38px, 26px, 431px, 213px, 'sprite.png', 'back', );
$book-name: 'book';
$book-x: 153px;
$book-y: 150px;
$book-offset-x: -153px;
$book-offset-y: -150px;
$book-width: 16px;
$book-height: 18px;
$book-total-width: 431px;
$book-total-height: 213px;
$book-image: 'sprite.png';
$book: (153px, 150px, -153px, -150px, 16px, 18px, 431px, 213px, 'sprite.png', 'book', );
$car-name: 'car';
$car-x: 284px;
$car-y: 106px;
$car-offset-x: -284px;
$car-offset-y: -106px;
$car-width: 20px;
$car-height: 16px;
$car-total-width: 431px;
$car-total-height: 213px;
$car-image: 'sprite.png';
$car: (284px, 106px, -284px, -106px, 20px, 16px, 431px, 213px, 'sprite.png', 'car', );
$close-name: 'close';
$close-x: 342px;
$close-y: 106px;
$close-offset-x: -342px;
$close-offset-y: -106px;
$close-width: 16px;
$close-height: 16px;
$close-total-width: 431px;
$close-total-height: 213px;
$close-image: 'sprite.png';
$close: (342px, 106px, -342px, -106px, 16px, 16px, 431px, 213px, 'sprite.png', 'close', );
$clothes-name: 'clothes';
$clothes-x: 368px;
$clothes-y: 106px;
$clothes-offset-x: -368px;
$clothes-offset-y: -106px;
$clothes-width: 16px;
$clothes-height: 12px;
$clothes-total-width: 431px;
$clothes-total-height: 213px;
$clothes-image: 'sprite.png';
$clothes: (368px, 106px, -368px, -106px, 16px, 12px, 431px, 213px, 'sprite.png', 'clothes', );
$data-name: 'data';
$data-x: 256px;
$data-y: 106px;
$data-offset-x: -256px;
$data-offset-y: -106px;
$data-width: 18px;
$data-height: 18px;
$data-total-width: 431px;
$data-total-height: 213px;
$data-image: 'sprite.png';
$data: (256px, 106px, -256px, -106px, 18px, 18px, 431px, 213px, 'sprite.png', 'data', );
$eval-name: 'eval';
$eval-x: 24px;
$eval-y: 195px;
$eval-offset-x: -24px;
$eval-offset-y: -195px;
$eval-width: 14px;
$eval-height: 18px;
$eval-total-width: 431px;
$eval-total-height: 213px;
$eval-image: 'sprite.png';
$eval: (24px, 195px, -24px, -195px, 14px, 18px, 431px, 213px, 'sprite.png', 'eval', );
$girl-name: 'girl';
$girl-x: 101px;
$girl-y: 150px;
$girl-offset-x: -101px;
$girl-offset-y: -150px;
$girl-width: 16px;
$girl-height: 20px;
$girl-total-width: 431px;
$girl-total-height: 213px;
$girl-image: 'sprite.png';
$girl: (101px, 150px, -101px, -150px, 16px, 20px, 431px, 213px, 'sprite.png', 'girl', );
$home-name: 'home';
$home-x: 205px;
$home-y: 150px;
$home-offset-x: -205px;
$home-offset-y: -150px;
$home-width: 16px;
$home-height: 17px;
$home-total-width: 431px;
$home-total-height: 213px;
$home-image: 'sprite.png';
$home: (205px, 150px, -205px, -150px, 16px, 17px, 431px, 213px, 'sprite.png', 'home', );
$ipad-name: 'ipad';
$ipad-x: 416px;
$ipad-y: 70px;
$ipad-offset-x: -416px;
$ipad-offset-y: -70px;
$ipad-width: 14px;
$ipad-height: 20px;
$ipad-total-width: 431px;
$ipad-total-height: 213px;
$ipad-image: 'sprite.png';
$ipad: (416px, 70px, -416px, -70px, 14px, 20px, 431px, 213px, 'sprite.png', 'ipad', );
$lock-name: 'lock';
$lock-x: 45px;
$lock-y: 150px;
$lock-offset-x: -45px;
$lock-offset-y: -150px;
$lock-width: 18px;
$lock-height: 21px;
$lock-total-width: 431px;
$lock-total-height: 213px;
$lock-image: 'sprite.png';
$lock: (45px, 150px, -45px, -150px, 18px, 21px, 431px, 213px, 'sprite.png', 'lock', );
$logo-color-name: 'logo-color';
$logo-color-x: 150px;
$logo-color-y: 0px;
$logo-color-offset-x: -150px;
$logo-color-offset-y: 0px;
$logo-color-width: 281px;
$logo-color-height: 60px;
$logo-color-total-width: 431px;
$logo-color-total-height: 213px;
$logo-color-image: 'sprite.png';
$logo-color: (150px, 0px, -150px, 0px, 281px, 60px, 431px, 213px, 'sprite.png', 'logo-color', );
$logo-white-name: 'logo-white';
$logo-white-x: 150px;
$logo-white-y: 70px;
$logo-white-offset-x: -150px;
$logo-white-offset-y: -70px;
$logo-white-width: 133px;
$logo-white-height: 26px;
$logo-white-total-width: 431px;
$logo-white-total-height: 213px;
$logo-white-image: 'sprite.png';
$logo-white: (150px, 70px, -150px, -70px, 133px, 26px, 431px, 213px, 'sprite.png', 'logo-white', );
$menu-bar-name: 'menu-bar';
$menu-bar-x: 341px;
$menu-bar-y: 70px;
$menu-bar-offset-x: -341px;
$menu-bar-offset-y: -70px;
$menu-bar-width: 36px;
$menu-bar-height: 24px;
$menu-bar-total-width: 431px;
$menu-bar-total-height: 213px;
$menu-bar-image: 'sprite.png';
$menu-bar: (341px, 70px, -341px, -70px, 36px, 24px, 431px, 213px, 'sprite.png', 'menu-bar', );
$search-name: 'search';
$search-x: 150px;
$search-y: 106px;
$search-offset-x: -150px;
$search-offset-y: -106px;
$search-width: 38px;
$search-height: 34px;
$search-total-width: 431px;
$search-total-height: 213px;
$search-image: 'sprite.png';
$search: (150px, 106px, -150px, -106px, 38px, 34px, 431px, 213px, 'sprite.png', 'search', );
$setting-lg-name: 'setting-lg';
$setting-lg-x: 0px;
$setting-lg-y: 150px;
$setting-lg-offset-x: 0px;
$setting-lg-offset-y: -150px;
$setting-lg-width: 35px;
$setting-lg-height: 35px;
$setting-lg-total-width: 431px;
$setting-lg-total-height: 213px;
$setting-lg-image: 'sprite.png';
$setting-lg: (0px, 150px, 0px, -150px, 35px, 35px, 431px, 213px, 'sprite.png', 'setting-lg', );
$setting-sm-name: 'setting-sm';
$setting-sm-x: 179px;
$setting-sm-y: 150px;
$setting-sm-offset-x: -179px;
$setting-sm-offset-y: -150px;
$setting-sm-width: 16px;
$setting-sm-height: 18px;
$setting-sm-total-width: 431px;
$setting-sm-total-height: 213px;
$setting-sm-image: 'sprite.png';
$setting-sm: (179px, 150px, -179px, -150px, 16px, 18px, 431px, 213px, 'sprite.png', 'setting-sm', );
$setting-name: 'setting';
$setting-x: 0px;
$setting-y: 0px;
$setting-offset-x: 0px;
$setting-offset-y: 0px;
$setting-width: 140px;
$setting-height: 140px;
$setting-total-width: 431px;
$setting-total-height: 213px;
$setting-image: 'sprite.png';
$setting: (0px, 0px, 0px, 0px, 140px, 140px, 431px, 213px, 'sprite.png', 'setting', );
$store-name: 'store';
$store-x: 228px;
$store-y: 106px;
$store-offset-x: -228px;
$store-offset-y: -106px;
$store-width: 18px;
$store-height: 18px;
$store-total-width: 431px;
$store-total-height: 213px;
$store-image: 'sprite.png';
$store: (228px, 106px, -228px, -106px, 18px, 18px, 431px, 213px, 'sprite.png', 'store', );
$table-name: 'table';
$table-x: 314px;
$table-y: 106px;
$table-offset-x: -314px;
$table-offset-y: -106px;
$table-width: 18px;
$table-height: 16px;
$table-total-width: 431px;
$table-total-height: 213px;
$table-image: 'sprite.png';
$table: (314px, 106px, -314px, -106px, 18px, 16px, 431px, 213px, 'sprite.png', 'table', );
$text-2-name: 'text-2';
$text-2-x: 0px;
$text-2-y: 195px;
$text-2-offset-x: 0px;
$text-2-offset-y: -195px;
$text-2-width: 14px;
$text-2-height: 18px;
$text-2-total-width: 431px;
$text-2-total-height: 213px;
$text-2-image: 'sprite.png';
$text-2: (0px, 195px, 0px, -195px, 14px, 18px, 431px, 213px, 'sprite.png', 'text-2', );
$text-name: 'text';
$text-x: 127px;
$text-y: 150px;
$text-offset-x: -127px;
$text-offset-y: -150px;
$text-width: 16px;
$text-height: 20px;
$text-total-width: 431px;
$text-total-height: 213px;
$text-image: 'sprite.png';
$text: (127px, 150px, -127px, -150px, 16px, 20px, 431px, 213px, 'sprite.png', 'text', );
$user-color-name: 'user-color';
$user-color-x: 416px;
$user-color-y: 106px;
$user-color-offset-x: -416px;
$user-color-offset-y: -106px;
$user-color-width: 9px;
$user-color-height: 12px;
$user-color-total-width: 431px;
$user-color-total-height: 213px;
$user-color-image: 'sprite.png';
$user-color: (416px, 106px, -416px, -106px, 9px, 12px, 431px, 213px, 'sprite.png', 'user-color', );
$user-white-name: 'user-white';
$user-white-x: 387px;
$user-white-y: 70px;
$user-white-offset-x: -387px;
$user-white-offset-y: -70px;
$user-white-width: 19px;
$user-white-height: 24px;
$user-white-total-width: 431px;
$user-white-total-height: 213px;
$user-white-image: 'sprite.png';
$user-white: (387px, 70px, -387px, -70px, 19px, 24px, 431px, 213px, 'sprite.png', 'user-white', );
$users-name: 'users';
$users-x: 198px;
$users-y: 106px;
$users-offset-x: -198px;
$users-offset-y: -106px;
$users-width: 20px;
$users-height: 19px;
$users-total-width: 431px;
$users-total-height: 213px;
$users-image: 'sprite.png';
$users: (198px, 106px, -198px, -106px, 20px, 19px, 431px, 213px, 'sprite.png', 'users', );
$vip-name: 'vip';
$vip-x: 73px;
$vip-y: 150px;
$vip-offset-x: -73px;
$vip-offset-y: -150px;
$vip-width: 18px;
$vip-height: 20px;
$vip-total-width: 431px;
$vip-total-height: 213px;
$vip-image: 'sprite.png';
$vip: (73px, 150px, -73px, -150px, 18px, 20px, 431px, 213px, 'sprite.png', 'vip', );
$spritesheet-width: 431px;
$spritesheet-height: 213px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($alert, $back, $book, $car, $close, $clothes, $data, $eval, $girl, $home, $ipad, $lock, $logo-color, $logo-white, $menu-bar, $search, $setting-lg, $setting-sm, $setting, $store, $table, $text-2, $text, $user-color, $user-white, $users, $vip, );
$spritesheet: (431px, 213px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
